DATABASE_URL=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL=1
GOOGLE_API_KEY=
IMAGEKIT_ENDPOINT=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=
PRESS_REVIEW_PATH=
NEWSPAPER_PATH=
CRONITOR_API_KEY=